CONFIG_LOCALVERSION="-panda"
CONFIG_DEBUG_INFO=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XZ=y
CONFIG_DEVPTS_MULTIPLE_INSTANCES=y
CONFIG_FB_PRE_INIT_FB=y
CONFIG_FB_OMAP2=y
CONFIG_RTC_DRV_TWL4030=y
CONFIG_USB=y
CONFIG_USB_KBD=y
CONFIG_USB_MOUSE=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_STORAGE=y
CONFIG_OMAP2_DSS=y
CONFIG_DISPLAY_CONNECTOR_DVI=y
CONFIG_DISPLAY_CONNECTOR_HDMI=y
CONFIG_DISPLAY_PANEL_DPI=y
CONFIG_SECURITY_APPARMOR=y
CONFIG_SECURITY_APPARMOR_BOOTPARAM_VALUE=1
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_AUDIT=y
CONFIG_TI_ST=m
CONFIG_BT_WILINK=m
CONFIG_RFKILL=y
CONFIG_RFKILL_INPUT=y
